.CartTotals {
	padding: 0 24px;
	line-height: 1;
	font-size: $font-size-sm;

	dl {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		dt,
		dd {
			flex: 0 0 auto;
			font-weight: 600;
		}

		dt {
			width: 25%;
		}

		dd {
			width: 75%;
			margin-bottom: 0.5rem;
			text-align: right;
		}
	}

	input[type="text"],
	button[type="button"] {
		padding: 4px 12px;
		font-size: $font-size-sm;
	}

	button[type="button"] {
		margin-left: 4px;
	}

	&__rewards {
		font-size: 15px;
		color: #198754;
	}

	&__remove-coupon {
		padding: 0;
		background-color: inherit;

		&:hover {
			background-color: inherit;
		}
	}

	&__total {
		strong {
			.amount {
				font-size: $font-size-lg;
			}
		}
	}

	&__free-shipping {
		svg {
			width: 18px;
		}
	}
}
