.empty {
	padding: 2rem;
}

.CartItems {
	padding: 2rem;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
        border-bottom: 1px solid $gray-200;

        &:last-child {
            border-bottom: 0;
        }
	}

	&__item-thumbnail-title-container {
		display: flex;
		align-items: center;
	}

	&__item-subtotal-quantity-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__item-thumbnail .wp-post-image {
		max-width: 80px;
	}
}
