.CartTotals {
	padding: 20px 24px;
	line-height: 1;
	font-size: $font-size-sm;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 0.25rem;
			padding-bottom: 0.25rem;
		}
	}

	&__remove-coupon {
		padding: 0;
		background-color: inherit;

		&:hover {
			background-color: inherit;
		}
	}

	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	input[type="text"],
	button[type="button"] {
		padding: 4px 12px;
		font-size: $font-size-sm;
	}

	button[type="button"] {
		margin-left: 4px;
	}

	.amount {
		font-weight: bold;
	}

	&__total {
		.amount {
			font-size: $font-size-lg;
		}
	}
}
