.grow-cart {
	&__main {
		display: flex;
		flex-flow: column;
		justify-content: center;
		width: 570px;
	}

	&__upsell {
		display: flex;
		flex-flow: column;
		flex: 1;
		height: 100%;
		padding: 32px 32px 0 32px;
		background-color: rgb(255, 249, 239);
	}

	&__proceed-to-checkout.wc-proceed-to-checkout {
		padding: 20px 24px;
		margin-bottom: 0;
		padding-top: 0;

		.button {
			margin-bottom: 0;
			border-radius: 4px;
		}
	}
}

.empty {
	padding: 20px 24px;
	text-align: center;
}

.CartItems {
	flex: 1;
	overflow: auto;
	height: 100%;
	padding: 20px 24px;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $gray-200;

		&:last-child {
			border-bottom: 0;
		}
	}

	&__item-thumbnail-title-container {
		display: flex;
		align-items: center;
	}

	&__item-subtotal-quantity-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__item-thumbnail {
		.attachment-woocommerce_thumbnail,
		.wp-post-image {
			max-width: 80px;
		}
	}

	button[type="button"],
	&__item-quantity-value {
		display: inline-block;
		box-sizing: content-box;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		margin-left: 0.25rem;
		padding: ($modal-header-padding-y * 0.5) ($modal-header-padding-x * 0.5);
		border: 0;
		line-height: 1;
		text-align: center;
	}
}

.CartTotals {
	padding: 20px 24px;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 0.25rem;
			padding-bottom: 0.25rem;
		}
	}

	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}

.grow-cart-mini {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 999;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		max-width: 800px;
		padding: 1rem 1.5rem;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		background-color: $gray-900;
		color: $white;
	}

	&__title {
		line-height: 1;
		color: $white;
	}

	&__total {
		line-height: 1;
	}

	.woocommerce-Price-amount.amount {
		font-size: $font-size-lg;
		font-weight: bold;
		line-height: 1;
	}

	svg {
		margin-left: auto;
	}

	button[type="button"] {
		box-sizing: content-box;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		margin-left: 1rem;
		padding: ($modal-header-padding-y * 0.5) ($modal-header-padding-x * 0.5);
		border: 0;
		line-height: 1;
	}
}
