.grow-cart {
	&__main {
		display: flex;
		flex-flow: column;
		justify-content: center;
		width: 570px;
	}

	&__main-full {
		width: 100%;
	}

	&__upsell {
		display: flex;
		flex-flow: column;
		flex: 1;
		height: 100%;
		background-color: rgb(255, 249, 239);
	}

	&__proceed-to-checkout.wc-proceed-to-checkout {
		padding: 20px 24px;
		margin-bottom: 0;
		padding-top: 0;

		.button {
			margin-bottom: 0;
			border-radius: 4px;
		}
	}

	@include media-breakpoint-down(lg) {
		&__main {
			width: 100%;
		}
		
		&__upsell {
			display: none;
		}
	} 
}

.empty {
	padding: 20px 24px;
	text-align: center;
}

.CartItems {
	flex: 1;
	overflow: auto;
	height: 100%;
	padding: 20px 24px;

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		border-bottom: 1px solid $gray-200;

		&:last-child {
			border-bottom: 0;
		}
	}

	&__item-title-wrap {
		margin-left: 1rem;
	}

	&__item-thumbnail-title-container {
		display: flex;
		align-items: center;
	}

	&__item-subtotal-quantity-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__item-thumbnail {
		.attachment-woocommerce_thumbnail,
		.wp-post-image {
			max-width: 80px;
		}
	}

	button[type="button"],
	&__item-quantity-value {
		display: inline-block;
		box-sizing: content-box;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		margin-left: 0.25rem;
		padding: ($modal-header-padding-y * 0.5) ($modal-header-padding-x * 0.5);
		border: 0;
		line-height: 1;
		text-align: center;
	}
}
