.grow-cart-mini {
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: auto;
		padding: var(--growcart-spacing-top) var(--growcart-spacing-right) var(--growcart-spacing-bottom) var(--growcart-spacing-left);
		max-width: 570px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		background-color: var(--growcart-background-color);
		color: var(--growcart-text-color);
	}

	&__title {
		line-height: 1;
		color: $white;
	}

	&__total {
		line-height: 1;
	}

	.cart-contents {
		position: relative;
		margin-left: auto;

		.badge {
			position: absolute;
			left: 100%;
			top: 0;
			transform: translate(-50%, -50%);

			display: inline-block;
			padding: 0.35em 0.65em;
			font-size: 0.75em;
			font-weight: 700;
			line-height: 1;
			color: #fff;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: 50rem;
			background-color: $gray-500;
		}
	}

	button[type="button"] {
		box-sizing: content-box;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		margin-left: 1rem;
		padding: ($modal-header-padding-y * 0.5) ($modal-header-padding-x * 0.5);
		border: 0;
		line-height: 1;
	}

	.Rewards {
		padding: 0;
		background-color: transparent;
		font-size: var(--growcart-font-size);

		&__progress-wrap {
			width: 75%;
		}
	}
}

.woocommerce {
	.grow-cart-mini {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 999;

		&.slideInUp {
			animation-name: slideInUp;
			animation-duration: 800ms;
			animation-fill-mode: both;
		}
	}
}