.RewardsAdminScreen {
	.Rewards-List {
		display: inline-block;
	}

	.reward-title {
		display: inline-block;
		border-radius: 50px;
		padding: 8px 12px;
		margin: auto 2px;
		cursor: pointer;
		background-color: #ffffff;

		&.active {
			background-color: #000000;
			color: #ffffff;
		}
	}

	button {
		padding: 8px 12px;
		margin: auto 2px;
		border-radius: 50px;
		cursor: pointer;
		border: none;
		background-color: #ffffff;
	}

	.components-base-control__label {
		width: 200px;
	}

	.growcart-rewards {
		border: 1px solid #c3c4c7;
		box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
		background-color: #ffffff;

		th,
		td {
			padding: 1rem;
		}

		tr:nth-child(odd) td {
			background-color: #f9f9f9;
		}

		.row-actions {
			position: relative;
		}

		tr:hover .row-actions {
			position: static;
		}
	}
}

.RewardsListItem {
	&__row {
		display: flex;
	}

	&__type {
		margin-bottom: 16px;
		padding: 16px;
		border-radius: 4px;
		background-color: #ffffff;
	}
}

.RulesList {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.RulesListItem {
	margin-bottom: 16px;
	padding: 16px;
	border-radius: 4px;
	background-color: #ffffff;

	input[type="text"] {
		width: 100%;
	}
}
